.chatSidebar.chatSidebar.chatSidebar.chatSidebar {
  display: none;
}

.chatWindow.chatWindow.chatWindow.chatWindow.chatWindow {
  width: 100% !important;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .chatSidebar.chatSidebar.chatSidebar.chatSidebar {
    display: block;
    word-break: break-word;
  }
  .chatWindow.chatWindow.chatWindow.chatWindow.chatWindow {
    width: 75% !important;
    padding: 0;
  }

}
