.Auth.Auth {
  height: calc(100vh - 80px);
  background-color: #ededed;
  margin: -14px 0 0 0;
}

.Form {
  max-width: 450px;
}

.Message {
  text-align: center;
  font-weight: bold;
}

.RedMessage {
  text-align: center;
  font-weight: 600;
  color: red;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.Error {
  padding: 5px 10px;
  color: red;
  font-weight: 600;
}

.Input {
  margin-bottom: 10px;
}

.InputError > input {
  background-color: #fff6f6 !important;
  border-color: #eb5656 !important;
  color: #9f3a38 !important;
  box-shadow: none !important;
}

.AuthBtn.AuthBtn.AuthBtn.AuthBtn {
  background-color: #3a4753;
}

.AuthBtn.AuthBtn.AuthBtn.AuthBtn:hover {
  background-color: rgb(42, 51, 59);
}

.subheader {
  margin: 10px 0 15px 0 !important;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  padding-top: 5px;
}
