.tabWrapper {
  margin-top: 50px;
}

.profileWrapper.profileWrapper.profileWrapper.profileWrapper.profileWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  /* justify-content: center !important; */
  align-items: center !important;
}

.profileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.profileForm.profileForm.profileForm.profileForm.profileForm div {
  width: 100% !important;
}

.profileAvatar {
  display: flex;
  justify-content: center;
}

.profileBtn {
  min-width: 160px;
}

.footerFix.footerFix.footerFix.footerFix.footerFix {
  margin-bottom: 1rem;
}