.section.section {
  display: flex;
  flex-direction: column;
}

.section.section button.remove_item {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0;
  background: none;
}

.section.section button.remove_item:hover,
.section.section button.remove_item:focus {
  background: none;
}

.section.section.section button.remove_item i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: red;
  transition: font-size 0.2s ease;
  transform: translate(-50%, -50%);
}

.section.section.section button.remove_item:hover i,
.section.section.section button.remove_item:focus i {
  font-size: 25px;
}

.select {
  margin-bottom: 14px;
}

.item_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item_number {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: rgb(137, 137, 137);
}

.error,
.error_title {
  position: relative;
  top: -10px;
  left: 0;
  font-weight: bold;
  color: red;
}

.error_title {
  top: 0;
}
