.container {
  position: relative;
}

.container.container button.add_section,
.items.items button.remove_section {
  position: absolute;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container.container button.add_section {
  left: 0;
  margin-left: 10px;
  background-color: #08a3a3;
  transition: 0.4s ease-in-out;
}

.items.items button.remove_section {
  right: 0;
  margin-right: 10px;
  background-color: #db2828;
}

.container.container button.add_section i {
  color: whitesmoke;
}

.container.container button.add_section:hover,
.container.container button.add_section:focus {
  background-color: #3399ff;
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;
}

.container.container.container button.add_section i,
.items.items.items button.remove_section i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

.items.items.items button.remove_section i {
  transition: 0.3s ease-in-out;
}

.items.items.items button.remove_section:hover,
.items.items.items button.remove_section:focus {
  background-color: #b90000;
}

.items.items.items button.remove_section:hover i,
.items.items.items button.remove_section:focus i {
  font-size: 22px;
  transition: 0.3s ease-in-out;
}

.items.items {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.items.items:first-child {
  margin-top: 20px;
}

.items.items.items input:focus,
.items.items.items textarea:focus {
  border-width: 2px;
  border-color: #3399ff;
}

.item_wrapper {
  position: relative;
}

.item_wrapper.item_wrapper button.add_item {
  position: absolute;
  left: 15px;
  bottom: 18px;
  margin: 0;
}

.item.item {
  margin-bottom: 30px;
}

.item.item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 60px;
}

.number {
  font-size: 14px;
  font-weight: 700;
  color: rgb(138, 137, 137);
}

@media screen and (min-width: 480px) {
  .container.container button.add_section,
  .items.items button.remove_section {
    left: 100%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 0;
    border-radius: 50%;
  }

  .container.container button.add_section {
    bottom: 0;
  }

  .items.items button.remove_section {
    bottom: 55px;
  }

  .container.container.container button.add_section i,
  .items.items.items button.remove_section i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
  }

  .items.items.items button.remove_section:hover i,
  .items.items.items button.remove_section:focus i {
    font-size: 28px;
    transition: 0.3s ease-in-out;
  }

  .items.items {
    margin-bottom: 20px;
    padding: 20px 15px;
  }
}
