
.grid.grid {
    margin-top: 2em;
    margin-bottom: 1rem;
}

.columnMenuBar.columnMenuBar.columnMenuBar.columnMenuBar {
    padding-top: 0;
}

.columnContent {
    border: 1px solid rgba(34,36,38,.15);
}

@media only screen and (max-device-width: 600px) {
    .columnContent {
      overflow-x: scroll;
    }
}