.description.description.description.description {
    display: flex;
    padding: 1%;
    align-items: flex-start; 
    justify-content: flex-start; 
    color: lightslategray;
    font-size: 12;
}

.description.description.description.description p {
    display: block;
    padding: 1%;
}

.confirmModal.confirmModal {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }