/*styles for role selector*/
.roleSelector {
    display: flex;
    justify-content: center;
}
.roleSelector>div {
    width: 70%;
    border: none;
}
.roleSelector>div>div {
    justify-content: center;
}
.roleSelector div div>span {
    display: none;
}

/*styles for status selector*/
.statusSelector {
    display: flex;
    justify-content: center;
}
.statusSelector>div {
    width: 70%;
    border: none;
}
.statusSelector>div>div {
    justify-content: center;
}
.statusSelector div div>span {
    display: none;
}
.active {
    padding: 4%;
    border-radius: 5%;
    text-align: center;
}

.active i:before {
    color: #13ada5;
}  

.blocked {
    padding: 4%;
    border-radius: 5%;
    text-align: center;
}

.blocked i:before {
    color: #aa2727;
}  
