.mainContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
.modalWindow{
    width: 30%;
    margin: 0 0 20px 40px;
}
.checkListItems{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.titleAndAuthor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title{
    font-size: 23px;
}
.title:hover{
    text-decoration: underline;
    text-decoration-color: #415157;
}
.author{
    padding-top: 10px;
    font-size: 15px;
    font-style: italic;
    color: rgb(145, 150, 153);
    font-weight: bolder;
}
.checkListLink{
    width: 55%;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s ease;
    border-top: 2px solid #A2C9C7;
}
.checkListLink:hover{
    background-color: rgb(221, 231, 241);
}
.checkListLink:first-child{
    border-top: none;
}
.imageContainer{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    width: 40%;
}
.checkListInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.infoContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.checkListAmount{
    padding-right: 30px;
}
