.passwordWrapper {
  position: relative;
  display: flex;
}

.passwordInput.passwordInput {
  display: flex;
  align-items: center;
  width: 100%;
}

.passwordMask.passwordMask {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-height: 37.8px;
  align-items: center;
  margin: 0 15px 0 0;
  padding: 0px;
  border: none;
  background: transparent !important;
  color: rgba(0, 0, 0, .8);
  box-shadow: none !important;
}

.passwordMask.passwordMask.passwordMask:focus {
  border-color: #85b7d9;
  background: transparent !important;
  color: rgba(0, 0, 0, .8);
}

.passwordMask.passwordMask.passwordMask:hover {
  border-color: #85b7d9;
  background: transparent !important;
  color: rgba(0, 0, 0, .8);
  box-shadow: none !important;
}

.passwordIcon.passwordIcon {
  display: flex;
  margin: 0 !important;
}
