.passwordWrapper {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.passwordInput,
.passwordInputError {
  margin-right: 6px;
}

.passwordConfirmInput,
.passwordInput,
.passwordConfirmInputError {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 6px;
}
.passwordInputError,
.passwordConfirmInputError > input {
  background-color: #fff6f6 !important;
  border-color: #eb5656 !important;
  color: #9f3a38 !important;
  box-shadow: none !important;
}

.passwordInputError {
  margin-right: 6px;
  display: flex;
  align-items: center;
  width: 100%;
}

.passwordConfirmMask.passwordConfirmMask {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 7px 0 0 10px;
  padding: 0px;
  border: none;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none !important;
}

.passwordConfirmMask.passwordConfirmMask.passwordConfirmMask:focus {
  border-color: #85b7d9;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.8);
}

.passwordConfirmMask.passwordConfirmMask.passwordConfirmMask:hover {
  border-color: #85b7d9;
  background: transparent !important;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none !important;
}

.passwordIcon.passwordIcon {
  display: flex;
  margin: 0 !important;
}
