.iconColor{
    color: white;
}

.socialBlock{
    display: flex;
    justify-content: space-between;
}

.buttonBlock{
    width: 100%;
    min-width: 120px;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1rem;
}

.googleButton{
    background-color: #dd4b39;
    transition: 0.3s ease;
}

.googleButton:hover{
    background-color: #b93624;
    transition: 0.3s ease;
}

.facebookButton{
    background-color: #3b5998;
    transition: 0.3s ease;
}

.facebookButton:hover{
    background-color: #28478a;
    transition: 0.3s ease;
}

.githubButton{
    background-color: #24292e;
    transition: 0.3s ease;
}

.githubButton:hover{
    background-color: #171a1d;
    transition: 0.3s ease;
}

@media screen and (max-width: 576px) {
    .socialBlock{
        display: flex;
        flex-direction: column;
    }   
    .buttonBlock{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        margin: 5px 0;
    }
}
