.checklistItem{
    border: 1px solid lightgray;
}

.checklistItem:nth-child(odd){
    background-color: #ffffff;
}

.checklistItem:nth-child(even){
    background-color: #f8f7f6;
}

.checklistItem:nth-child(odd):hover{
    background-color: #f1f1f1;
}

.checklistItem:nth-child(even):hover{
    background-color: rgb(241, 240, 237)
}

.toRightAlign{
    padding-right: 0rem !important;
}

.toLeftAlign{
    padding-left: 0rem !important;
}

@media screen and (max-width: 992px) {
    .toRightAlign{
        padding-right: 1rem !important;
    }
    
    .toLeftAlign{
        padding-left: 1rem !important;
    }
}
