.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
    min-height: 500px;
    width: 100%;
}
.modalWindow{
    width: 0;
    right: 5%;
    bottom: 40px;
    position: absolute;
}
.checkListItems{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.titleAndAuthor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title{
    font-size: 23px;
}
.title:hover{
    text-decoration: underline;
    text-decoration-color: #415157;
}
.author{
    padding-top: 10px;
    font-size: 15px;
    font-style: italic;
    color: rgb(145, 150, 153);
    font-weight: bolder;
}
.checkListLink{
    width: 85%;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    border-top: 2px solid #A2C9C7;
}
.checkListLink:hover{
    background-color: rgb(221, 231, 241);
}
.checkListLink:first-child{
    border-top: none;
}
.imageContainer{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    width: 40%;
}
.checkListInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.checkListAmount{
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.searchBarContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    min-width: 60%;
}
.searchIcon{
    background-color: #fff;
    height: 16px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 50px !important;
    height: 40px !important;
    margin: 0 !important;
    color: #cecece;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    transition: 0.1s ease;
    cursor: pointer;
}
.searchIcon:hover{
    color: rgb(16, 93, 180);
}
.searchInput{
    -webkit-appearance: none;
    border: none;
    padding-left: 15px;
    height: 40px;
    min-width: 350px;
    max-width: 35%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
.searchInput:focus{
    outline: none;
}
.resetIcon{
    color: #cecece;
    cursor: pointer;
    transition: 0.1s ease;
}
.resetIcon:hover{
    color: rgb(207, 13, 13);
}
.listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 400px;
}
.resetIconContainer{
    background-color: #fff;
    display: flex;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 90px;
    padding-right: 10px;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.selectItemsContainer{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:780px){
    .modalWindow{
        bottom: -50px;
        right: 70px;
    }
}
@media (min-width: 410px) and (max-width: 520px){
    .checkListLink{
        width: 100%;
    }
    .modalWindow{
        position: fixed;
        width: 5%;
        border-radius: 50px;
        right: 50px;
        bottom: 45px;
    }
    .searchInput{
        min-width: 90%;
    }
    
}
@media (max-width: 409px){
    .searchInput{
        min-width: 70%;
    }
    .modalWindow{
        bottom: 0px;
    }
}
