.main_form {
  margin-bottom: 100px;
}

.section_container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title.title.title.title:focus {
  border: none;
}

.title.title.title.title:focus,
.title.title.title.title:valid {
  padding-top: 30px;
  background: inherit;
}
