.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}
.mainContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1%;
}
.content{
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.noTeamContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.btnTeam{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.myTeamHeader{
    width: 100%;
    background-image: linear-gradient(45deg, #415257, #292e49);
}
.teamCreate{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamIcon{
    font-size: 25px;
    margin-bottom: 2%;
}
.goBackText{
    margin-top: 7%;
}
.teamBlock{
    border-top: 2px solid #A2C9C7;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    transition: all 0.5s;
}
.teamBlock:hover{
    background-color: rgb(221, 231, 241);
}
.teamBlock:first-child{
    border-top: none;
}
.createNewTeam{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    right: -100px;
    bottom: 40px;
}
.selectContainer{
    display: flex;
    justify-content: flex-end;
    margin-right: 28.5%;
    margin-top: 1%;
}
.selectTeams{
    display: flex;
    justify-content: flex-end;
}
.teamLogo{
    width: 5%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamLogo img{
    width: 100%;
}
.teamContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 380px;
    margin: 2% 25% 0;
    position: relative;
}
.teamInfo{
    margin-left: 5%;
    color: #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.teamName{
    font-size: 23px;
}
.teamName:hover {
    text-decoration: underline;
}
.mainTeamInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myTeamContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 64vh;
    justify-content: flex-start;
    padding-top: 1%;
    padding-bottom: 7%;
    background-color: #ededed;
}
.myTeamList{
    width: 100%;
}
.teamCreationDate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.additionalInfo{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamCreator{
    font-style: italic;
    color: rgb(145, 150, 153);
    font-size: 15px;
    font-weight: bolder;
    padding-top: 10px;

}
.footerContainer{
    display: flex;
    justify-content: center;
}
.loaderContainer{
    height: 380px;
    display: flex;
    align-items: center;
}

