.dropdown,
.dropdownButton {
  padding: 0 !important;
  margin: 0 !important;
}

.dropdown {
  display: flex !important;
  position: absolute !important;
  top: .5em;
  right: .5em;
  width: 30px;
  color: #ffffff;
  font-size: 1.5em;
}

.dropdownButton {
  background: #ffffff !important;
  
}
